.main-ctnt{
    margin: 0 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: calc(100vh - 160px);
    align-items: center;
}

iframe{
    border: 0;
    height: 500px;
    width: 50%;
    min-width: 400px;
}

textarea{
    width: 300px;
    height: 160px;
}

input{
    width: 100%;
}

input[type=submit]{
    width: fit-content;
}

.submit{
    display: flex;
    justify-content: flex-end;
}