.mystery-elements{
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mstr-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #C1D9CC;
    box-shadow: 0 0 15px #00000022;
    border-radius: 30px;
}

.mstr-ctnt{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 15px 30px;
    /* min-width: 150px;
    max-width: 150px;
    justify-content: center; */
}

.mstr-ctnt > .out_img > .img-basket{
    height: 150px;
    position: absolute;
    top: -120px;
    right: 60px;
}

.mstr-ctnt > .out_img > .img-box{
    height: 150px;
    position: absolute;
    top: -120px;
    right: 30px;
}


.mstr-card-btn > a{
    display: flex;
    justify-content: center;
    font-weight: 600;
    margin-top: 10px;
    background: rgb(252,181,102);
    background: linear-gradient(140deg, rgba(252,181,102,1) 0%, rgba(216,87,55,1) 100%);
    width: 100%;
    font-size: 22px;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    padding: 6px 0px;
    transition: all .18s;
}

.mstr-card-btn > a:hover{
    background: rgb(250, 172, 84);
    background: linear-gradient(140deg, rgb(248, 172, 86) 0%, rgb(214, 80, 46) 100%);
}

.mstr-card-btn > a:hover{
    background-color: #6e917d;
}