/* ----- nav ----- */

.top-separator{
    background-color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 20px;
    max-height: 20px;
    box-shadow: inset 0px -1px 5px #00000025;
}

header{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: #FDC71C;
    box-shadow: 0px 0px 10px #00000025;
    margin-bottom: 40px;
    z-index: 100;
}

.header-ctnt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header_logo_name{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 60px;
    width: auto;
}

.header_logo_name > img{
    max-height: 70px;
    width: auto;
    margin-right: 15px;
}

.header_name{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #111;
}

.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.nav > ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    list-style: none;
    gap: 40px;
}

/* .nav > ul > .tab{
    
} */

.nav > ul > .tab > a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    transition: all .18s;
    justify-content: center;
}

.nav > ul > .tab > a:hover{
    color: #FFF;
}

.nav > ul > .tab > .btn_login > p{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: #111;
    transition: all .18s;
    border-radius: 30px;
    border: solid 3px #FFF;
    padding: 2px 10px;
}

.nav > ul > .tab > .btn_login > p:hover{
    background-color: #FFF;
}

.nav-undernile{
    height: 3px;
    border-radius: 50px;
    background-color: #FFF;
}

/* --- cart --- */

.count-cart{
    position: absolute;
    right: 175px;
    top: 28px;
    border-radius: 50px;
    background-color: #FFF;
    padding: 0 2px;
    color: #111;
    font-weight: 800;
    font-size: 8px;
    text-align: center;

}


/* --- FIN cart --- */


/* --- login --- */
.tab_login{
    display: flex;
    flex-direction: row;
}

.tab_login > .btn_login{
    margin-left: 15px;
}




/* --- FIN login --- */

/* ----- FIN nav ----- */