.home-ctnt{
    display: flex;
    height: calc(100vh - (120px * 2));
    margin: 0 5vw;
    align-items: center;
    justify-content: space-evenly;
}

.illu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illu-support{
    width: 550px;
    height: 50px;
    border-radius: 40px;
    background-color: #FDD34A;
    /* background-color: #94B4A2; */
    margin-top: -30px;
}

.illu > img{
    width: fit-content;
    z-index: 1;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 400px;
}

.text > h1{
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 10px;
}

.text > p{
    font-size: 30px;
    font-weight: 400;
    max-width: 500px;
}