


html{
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  margin: 0;
  padding: 0;
  /* background-color: #D3EEDF; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

p, a{
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

h1, h2, h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  font-weight: bold;
}

p{
  margin: 0px;
}
