.product-liste{
    display: flex;
    /* gap: 100px; */
    flex-wrap: wrap;
    justify-content: center;
}

.product-card{
    display: flex;
    flex-direction: column;
    background-color: #fdc81ccb;
    border-radius: 20px;
    margin: 60px 30px;
}

.product-card-ctnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 30px;
    min-width: 150px;
    max-width: 150px;
    justify-content: center;
}

.product-card-ctnt > .product-name{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

.product-card-ctnt > p{
    color: #111;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

.product-card-ctnt > a{
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 10px;
    width: 100%;
    border: 3px solid #FFF;
    border-radius: 50px;
    color: #111;
    text-decoration: none;
    padding: 2px 0px;
    transition: all .18s;
}

.product-card-ctnt > a:hover{
    background-color: #FFF;
}

.product-card-ctnt > button{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
    width: 100%;
    border: 3px solid #FFF;
    border-radius: 50px;
    color: #111;
    text-decoration: none;
    padding: 2px 0px;
    transition: all .18s;
    background-color: #FDD34A;
}

.product-card-ctnt > button:hover{
    cursor: pointer;
    background-color: #FFF;
}

.product-card-ctnt > input{
    margin-top: 10px;
    width: 55px;
    
}

.out_img{
    display: block;
    height: 50px;
    position: relative;
}

.product-card-ctnt > .out_img > img{
    height: 120px;
    position: absolute;
    top: -90px;
    right: -60px;
}

.product-rating{
    margin-top: 5px;
}