.ctnt-product-page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 3vw;
}

.ctnt-mystery{
    /* position: sticky; */
    /* max-width: calc((100vw - 10vw) / 3); */
    height: calc(100vh - 120px);
    position: sticky;
    top: 120px;
}

.ctnt-product-liste{
    margin-top: 40px;
    width: calc(((100vw - 10vw) / 2.5) * 2);
}