.team-ctnt{
    display: flex;
    height: calc(100vh - (120px * 2));
    margin: 0 5vw;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.team-card{
    display: flex;
    flex-direction: column;
    background-color: #fdc81ccb;
    border-radius: 20px;
    margin: 60px 30px;
    padding: 30px 25px;
    align-items: center;
    text-align: center;
    max-width: 200px;
}


.team-card > img{
    width: 120px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.team-card > .member-name{
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    margin: 10px;
}

.team-card > .member-desc{
    color: #111;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
}

.team-card > a{
    display: flex;
    justify-content: center;
    font-weight: 400;
    margin-top: 10px;
    border: 3px solid #FFF;
    width: 100%;
    border-radius: 50px;
    color: #111;
    text-decoration: none;
    padding: 2px 0px;
    transition: all .18s;
}

.team-card > a:hover{
    background-color: #FFF;
}